<header>
  <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page">
    <img
      class="brand-logo"
      src="/assets/logo.svg"
      alt="logo"
      aria-hidden="true"
    />
  </a>
  <div>
    <a
      routerLink="/favorites"
      routerLinkActive="active"
      ariaCurrentWhenActive="page"
    >
      <button class="favoritesBtn">
        <mat-icon
          svgIcon="heart"
          aria-hidden="false"
          aria-label="Example thumbs up SVG icon"
        />
      </button>
    </a>
  </div>
</header>
