<article>
  <img
    class="listing-photo"
    [src]="housingLocation?.photo"
    alt="Exterior photo of {{ housingLocation?.name }}"
    crossorigin
  />
  <div class="content">
    <section class="listing-description">
      <h2 class="listing-heading">{{ housingLocation?.name }}</h2>
      <p class="listing-location">
        {{ housingLocation?.city }}, {{ housingLocation?.state }}
      </p>
    </section>
    <section class="listing-features">
      <h2 class="section-heading">About this housing location</h2>
      <ul>
        <li>Units available: {{ housingLocation?.availableUnits }}</li>
        <li>
          Does this location have wifi:
          {{ housingLocation?.wifi ? "Yes" : "No" }}
        </li>
        <li>
          Does this location have laundry:
          {{ housingLocation?.laundry ? "Yes" : "No" }}
        </li>
      </ul>
    </section>
    <section class="listing-apply">
      <mat-card appearance="outlined">
        <mat-card-header>
          <mat-card-title>{{ "Apply now" | titlecase }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <form [formGroup]="applyForm" (submit)="submitApplication()">
            <label for="first-name">First Name</label>
            <input id="first-name" type="text" formControlName="firstName" />
            <label for="last-name">Last Name</label>
            <input id="last-name" type="text" formControlName="lastName" />
            <label for="email">Email</label>
            <input id="email" type="email" formControlName="email" />
            <button type="submit" class="primary">Apply now</button>
          </form>
        </mat-card-content>
      </mat-card>
    </section>
  </div>
</article>
